*
{
    margin: 0px;
    padding: 0px;
}
a
{
    text-decoration: none;
    color: blue;
}
img
{
    vertical-align:bottom;
    width: 100px;
}

.container
{
    margin: 20px 50px 0px 50px;
}

.title
{
    font-size: 30px;
    border-bottom:  1px solid #ccc;
}
.subtitle
{
    padding: 20px 0px;
    border-bottom:  1px solid #ccc;
}
.main
{
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom:  1px solid #ccc;
}
table
{
    width: 100%;
    border-collapse:collapse;
    border-bottom: 1px solid #ccc;
    margin-left: 50px;
}

td
{
    padding: 10px 0px 10px 0px;
    vertical-align: top;
}

.price
{
    width: 200px;
}

.cart-left
{
    position:absolute;
    left: 0;
    right: 30%;
}

.cart-right
{
    float: right;
    padding: 20px;
    width: 20%;
    border: 1px solid #bbb;
    margin: 2% 5%;
}

.cart-right div
{
    font-size: 20px;
    margin-bottom: 20px;
}

.cart-right input
{
    width: 100%;
    line-height: 40px;
    font-size: 20px;
    background-color:#ff9933;
    border: 1px solid #bbb;
    border-radius: 10px;
}

.cart-right input:hover
{
    color: #fff;
}

.cart-right input:disabled
{
    background-color: #ccc;
    color: #666;
}
.cart-right input:disabled:hover
{
    color: #666;
    cursor: not-allowed;
}
.name a:hover
{
    color: #ff9933;
}