*
{
    margin: 0px;
    padding: 0px;
}
a
{
    text-decoration: none;
    color: #000;
}
span
{
    font-size: 14px;
    color:black;
}

.logo
{
    text-align: center;
    font-size: 30px;
    margin: 20px 0px;
}

.container
{
    width: 350px;
    border: 1px solid #ddd;
    margin: 0px auto;
    
    padding: 20px;
    border-radius: 8px;
}

.registration
{
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.login
{
    margin-top: 10px;
}

.registration h2
{
    margin-bottom: 10px;
}

.registration .input
{
    width: 100%;
    height: 30px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #bbb;
    line-height: 20px;
    background-color: lightyellow;
    margin-bottom: 10px;
}

.btn
{
    width: 100%;
    height: 30px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #bbb;
    background-color: sandybrown;
    text-align: center;
}

.btn:hover
{
    background-color: #000;
    color: sandybrown;
}

.login span
{
    font-size: 10px;
    color: grey;
}

.login a
{
    display: block;
    line-height: 30px;
    background-color: #fff;
}

.login a:hover
{
    background-color: #000;
    color: #fff
}



.error-message
{
    width: 350px;
    margin: 0px auto;
    font-size: 13px;
    color: darkred;
    text-align: center;
}